<div class="post">
    {{post.message}}
    <a href="/delete/{{post.id}}">Delete</a>
    <a href="/edit/{{post.id}}">Edit</a>
    <div class="comment">
        <input type='hidden' value="{{post.id}}" name='postid' id='postid'>
        <form id="createComment" action="/add_comment/{{post.id}}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>What are your thoughts?</label>
                <input type="text" name="comment" class="form-control">
            </div>
            <button class="btn btn-info">Post</button>
        </form>

        <div class="allcomments">
        {% for comment in post.post_comments.all %}
        {% include "partial_comment.html" %}
        {% endfor %}
        <td>
        <a href="/delete/{{comment.id}}">Delete</a>
        <a href="/edit/{{comment.id">Edit</a>
        </td>
        </div>
    </div>

    <a href="/like/{{post.id}}">Updoot</a>
    <p>Updoots {{post.likes.count}}</p>

</div>
    